a.link-button {
  color: $tt-white;
  text-transform: uppercase;
  min-width: 400px;
  border: 1px solid blue;
  padding: 1em;
  margin: .5em 0;
  display: block;
  text-align: center;
  position: relative;
  background-color: $tt-black;
  z-index: 0;
  transition: .25s all;
  border: 1px solid $tt-black;

  &:hover {
    text-decoration: none;
    color: $tt-black;

    &:before {
      @include transform(scaleY(1));
    }
  }

  &:before {
    content: '';
    position: absolute;
    background: $tt-white;
    border: 1px solid $tt-black;

    @include pos(0, 0, 0, 0);
    @include transition(transform .125s ease-in);
    @include transform(scaleY(0));

    transform-origin: 0 0;
    z-index: -1;
  }
}