
// debug
$tt-alpha: 0.9;
$tt-debug-pink: rgba(204, 102, 102, $tt-alpha);
$tt-debug-purple: rgba(102, 102, 204, $tt-alpha);
$tt-debug-teal: rgba(100, 200, 180, $tt-alpha);
$tt-debug-blue: rgba(33, 66, 99, $tt-alpha);
$tt-debug-red: rgba(240, 20, 80, $tt-alpha);

* {
    border: 0px solid blue !important;
}

// Custom, iPhone Retina
#tt__debug {
  font-weight: bold;
  z-index: 100;
  position: fixed;
  left: 10px;
  font-size: 2em;
  font-family: monospace;
  background-color: $tt-debug-pink;
  &::after {
    content: "Bootstrap 3: (>=320px) (custom)";
  }
}

// Extra Small Devices, Phones 
@media only screen and (min-width:640px) {
  #tt__debug {
    background-color: $tt-debug-purple;
    &::after {
      content: "Bootstrap 3: (>=640px) xs";
    }
  }
}

// Small Devices, Tablets 
@media only screen and (min-width:768px) {
  #tt__debug {
    background-color: $tt-debug-teal;
    &::after {
      content: "Bootstrap 3: (>=768px) sm";
    }
  }
}

// Medium Devices, Desktops 
@media only screen and (min-width:991px) {
  #tt__debug {
    background-color: $tt-debug-blue;
    &::after {
      content: "Bootstrap 3: (>=991px) md";
    }
  }
}

// Large Devices, Wide Screens
@media only screen and (min-width: 1200px) {
  #tt__debug {
    background-color: $tt-debug-red;
    &::after {
      content: "Bootstrap 3: (>=1200px) lg";
    }
  }
}