@font-face {
  font-family: 'Reader Regular';
  src: url('../fonts/reader/reader-regular.otf') format('otf');
}

@font-face {
  font-family: 'Reader Medium';
  src: url('../fonts/reader/reader-medium.otf') format('otf');
}

@font-face {
  font-family: 'Reader Bold';
  src: url('../fonts/reader/reader-bold.otf') format('otf');
}


@font-face {
  font-family: 'Palanquin Regular';
  src: url('../fonts/palanquin/palanquin-regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Palanquin Medium';
  src: url('../fonts/palanquin/palanquin-medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Palanquin Bold';
  src: url('../fonts/palanquin/palanquin-bold.ttf') format('ttf');
}